*.pub
SSH-key-for-Ansible
SSH-key-for-all
Keypair-Bahrain.pem
ssh-key-for-all
keys/
**/.terraform/*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
crash.log
crash.*.log
aws-cred.txt
*.tfstate
terraform.tfstate
terraform.tfstat.backup
*.pem
*.tfvars
*.vscode
.vscode/
.vscode