*.pub
SSH-key-for-Ansible
SSH-key-for-all
Keypair-Bahrain.pem
ssh-key-for-all
keys/
**/.terraform/*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
crash.log
crash.*.log
aws-cred.txt
*.tfstate
terraform.tfstate
terraform.tfstat.backup
*.pem
*.vscode
.vscode/
.vscode
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.56.1/linux_amd64/terraform-provider-aws_v5.56.1_x5
Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.109.0/linux_amd64/terraform-provider-azurerm_v3.109.0_x5
Terraform/.terraform/
Ansible/jdk-22_linux-x64_bin.deb
MERN-Full-project.git/*
MERN-Full-project.git/
/MERN-Full-project.git/*
/MERN-Full-project.git